body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas{
    border: 1px solid #000;
}

p{
    margin: 20px 0;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttons .btn{
    background-color: transparent;
    padding: 10px;
    border: 1px solid #000;
    margin: 0 5px;
    transition: 500ms all;
    cursor: pointer;
}

.buttons .active{
    background-color: #000;
    color: #fff;
}

.buttons .btn:hover{
    background-color: #000;
    color: #fff;
}

.radious{
    display: none;
    align-items: center;
}

.radious p{
    margin-right: 15px;
}